.react-datepicker__triangle {
    display: none;
  }
  
  .react-datepicker__day.react-datepicker__day--keyboard-selected {
    border-radius: 7px;
    background-color: #68A8A9;
    color: white;
  }
  
  /* .react-datepicker__day.react-datepicker__day--keyboard-selected:hover {
    border: none;
    border-radius: 7px;
    background-color: #DF6831;
    color: var(--white);
  } */
  
  /* .react-datepicker-popper .react-datepicker__navigation {
    padding-top: 12px;
    color: #B56F26; 
  } */
  
  .react-datepicker {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.189);
    border: none !important;
  }
  
  .react-datepicker__header {
    border-bottom: solid 5px var(--light) !important;
    background: #D7E7E8 !important;
  }
  
  /* .react-datepicker__current-month {
    color: var(--dark) !important;
  } */
  
  .react-datepicker__day.react-datepicker__day--today {
    border-radius: 7px;
    border: solid 2px var(--brand) !important;
    background-color: #DF8F33 !important;
    color: white !important;
    width: 30px;
    height: 30px;
  }
  
  .react-datepicker__day.react-datepicker__day--selected {
    border: none;
    border-radius: 7px;
    background-color: #68A8A9;
    color: white;
  }

  .react-datepicker__day--in-range {
    border: none;
    border-radius: 7px;
    background-color: #ebd58c;
    color: white;
  }

  .react-datepicker__day.react-datepicker__day--selected:hover {
    background-color: red;
  }
  
  .react-datepicker__day--selected:hover,
  .react-datepicker__day--in-selecting-range:hover,
  .react-datepicker__day--in-range:hover,
  .react-datepicker__month-text--selected:hover,
  .react-datepicker__month-text--in-selecting-range:hover,
  .react-datepicker__month-text--in-range:hover,
  .react-datepicker__quarter-text--selected:hover,
  .react-datepicker__quarter-text--in-selecting-range:hover,
  .react-datepicker__quarter-text--in-range:hover,
  .react-datepicker__year-text--selected:hover,
  .react-datepicker__year-text--in-selecting-range:hover,
  .react-datepicker__year-text--in-range:hover {
    border: none;
    border-radius: 7px !important;
    background-color: var(--brand) !important;
    color: var(--dark) !important;
  }